#content div.desc{
    background-color: #23232e;
    width: 100%;
    height: 500px;
    text-align: center;
}
#content div.do {
    background-color: #ffffff;
    width: 100%;
    height: 400px;
}

#content div.portfolio {
    background-color: #23232e;
    height: 700px;
    width: 100%;
}

#content div.blog {
    background-color: #ffffff;
    height: 700px;
    width: 800px;
}

#content div.contacts {
    background-color: #23232e;
    height: 400px;
    width: 100%;
}

#content .logo{
    width: 80px;
    height: 120px;
    margin: 0 auto;
    margin-bottom: -30px;
    padding-top: 60px;
}

#content .intro{
    height: 100px;
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

#content .intro .name {
    font-size: 4em;
    margin-bottom: 20px;
}

#content .go-down{
    margin: 0 auto;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#content .go-down-image{
    margin-top: 155px;
}

.name-link{
    border-bottom: 1px solid #7b77c9;
}