body {
    font: 12px/1.5 'Helvetica Neue', Helvetica, Arial, Sans-serif;
    font-family: Helvetica, Arial, 'Microsoft YaHei', '微软雅黑', STXihei, '华文细黑', SimSun, '宋体', Heiti, '黑体', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.t {
    font-family: Impact;
    letter-spacing: 1px;
}

#content {
    width: 100%;
    height: 100%;
}

#content a {
    text-decoration: none;
}

.link-a {
    color: #fff;
}

#part1 {
    display: block;
    width: 100%;
    position: relative;
}

#part1 .bg-img {
    width: 100%;
    position: relative;
}

#part1 .home {
    font-size: 36px;
    line-height: 36px;
    height: 36px;
    width: 120px;
    position: absolute;
    left: 100px;
    top: 20px;
}

#part1 .home {
    filter: alpha(opacity=70);
    opacity: .7;
}

#part1 .home:hover {
    filter: alpha(opacity=50);
    opacity: .5;
}

#part1 .nav {
    font-size: 16px;
    line-height: 16px;
    height: 16px;
    width: 400px;
    overflow: hidden;
    position: absolute;
    top: 36px;
    right: 20px;

    font-family: Helvetica;
}

#part1 .nav .tab {
    margin: 0 10px;
    filter: alpha(opacity=50);
    opacity: .5;
}

#part1 .nav .current {
    filter: alpha(opacity=90);
    opacity: .9;
}

#part1 .nav .tab:hover {
    filter: alpha(opacity=30);
    opacity: .3;
}

#part1 .title {
    width: 100%;
    height: 80px;
    font-size: 80px;
    line-height: 80px;
    margin: 0 auto;
    filter: alpha(opacity=90);
    opacity: .9;
    letter-spacing: 2px;

    position: absolute;
    bottom: 35px;
    text-align: center;
}

#part2 {
    width: 100%;
    text-align: center;
    position: relative;
}

#part2 .image {
    width: 1000px;
    height: 230px;
    margin: 0 auto;
    padding-top: 75px;
}

#part2 .image img {
    margin: 0 10px;
    float: left;
    display: inline-block;
}

#part2 .title {
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 100px;
    font-size: 20px;
    padding-top: 20px;
    color: #999;
    font-family: "KaiTi";
}

#part3 {
    width: 100%;
    position: relative;
    font-size: 0;
}

#part3 .bg-img {
    width: 100%;
}

#part3 .ths {
    position: absolute;
    left: 60px;
    top: 30px;
}

#part3 .ths .btn {
    width: 130px;
    height: 30px;
}

#part3 .ths .btn:hover {
    cursor: pointer;
}

#part3 .ths .btn-1 {
    position: absolute;
    left: 25px;
    bottom: 30px;
}

#part3 .ths .btn-2 {
    position: absolute;
    left: 175px;
    bottom: 30px;
}

#part4 {
    width: 100%;
    position: relative;
    font-size: 0;
}

#part4 .bg-img {
    width: 100%;
}

#part4 .ths {
    position: absolute;
    right: 60px;
    top: 40px;
}

#part4 .ths .btn {
    width: 130px;
    height: 30px;
}

#part4 .ths .btn:hover {
    cursor: pointer;
}

#part4 .ths .btn-1 {
    position: absolute;
    right: 25px;
    bottom: 30px;
}

#part4 .ths .btn-2 {
    position: absolute;
    right: 175px;
    bottom: 30px;
}

#part5 {
    width: 100%;
    position: relative;
    font-size: 0;
    padding-top: 50px;
}

#part5 .desc {
    width: 960px;
    padding: 10px;
    margin: 0 auto;
    border-bottom: 1px solid #ddd;
}

#part5 .desc-title {
    height: 90px;
    width: 680px;
    position: relative;
    margin: 0 auto;
}

#part5 .desc-title .big-title {
    height: 50px;
    line-height: 50px;
    font-size: 32px;
    font-family: "微软雅黑";
    color: #333;
}

#part5 .desc-title .small-title {
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    font-family: "微软雅黑";
    color: #333;
}

#part5 .desc-title .small-title a{
    color: #333;
    text-decoration: underline;
}

#part5 .big-img {
    width: 680px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

#part5 ul {
    padding: 0;
    margin: 0;
    width: 9999px;
    position: relative;
}

#part5 ul:after {
    content: '';
    clear: both;
    display: block;
}

#part5 ul li {
    float: left;
}

#part5 .small-img {
    padding-top: 10px;
}

#part5 .small-img-btn {
    width: 420px;
    height: 50px;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
}

#part5 .small-img img {
    margin-left: 5px;
    filter: alpha(opacity=50);
    opacity: .5;
}

#part5 .small-img img:hover {
    filter: alpha(opacity=100);
    opacity: 1;
}

#part5 .small-img .check {
    filter: alpha(opacity=100);
    opacity: 1;
}

#part5 .big-img .previous {
    left: 0;
    position: absolute;
    width: 40px;
    top: 46%;
    cursor: pointer;
    filter: alpha(opacity=40);
    opacity: .4;
    z-index: 1;
}

#part5 .big-img .previous:hover {
    filter: alpha(opacity=60);
    opacity: .6;
}

#part5 .big-img .next {
    right: 0;
    position: absolute;
    width: 40px;
    top: 46%;
    cursor: pointer;
    filter: alpha(opacity=40);
    opacity: .4;
    z-index: 1;
}

#part5 .big-img .next:hover {
    filter: alpha(opacity=60);
    opacity: .6;
}

#part5 .desc-txt {
    width: 680px;
    height: 200px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    color: #999;
    padding-left: 30px;
}

#part5 .yuqing_desc_1 {
    width: 330px;
}

#part5 .yuqing_desc_2 {
    width: 330px;
    position: absolute;
    right: 0;
    top: 0;
}

#part6 {
    width: 100%;
    position: relative;
    font-size: 0;
    padding-top: 30px;
}

#part6 .desc {
    width: 960px;
    padding: 10px;
    margin: 0 auto;
    border-bottom: 1px solid #ddd;
}

#part6 .desc-title {
    height: 90px;
    width: 680px;
    position: relative;
    margin: 0 auto;
}

#part6 .desc-title .big-title {
    height: 50px;
    line-height: 50px;
    font-size: 32px;
    font-family: "微软雅黑";
    color: #333;
}

#part6 .desc-title .small-title {
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    font-family: "微软雅黑";
    color: #333;
}

#part6 .desc-title .small-title a{
    color: #333;
    text-decoration: underline;
}

#part6 .big-img {
    width: 680px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

#part6 ul {
    padding: 0;
    margin: 0;
    width: 9999px;
    position: relative;
}

#part6 ul:after {
    content: '';
    clear: both;
    display: block;
}

#part6 ul li {
    float: left;
}

#part6 .small-img {
    padding-top: 10px;
}

#part6 .small-img-btn {
    width: 630px;
    height: 50px;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
}

#part6 .small-img img {
    margin-left: 5px;
    filter: alpha(opacity=50);
    opacity: .5;
}

#part5 .small-img img:hover {
    filter: alpha(opacity=100);
    opacity: 1;
}

#part6 .small-img .check {
    filter: alpha(opacity=100);
    opacity: 1;
}

#part6 .big-img .previous {
    left: 0;
    position: absolute;
    width: 40px;
    top: 46%;
    cursor: pointer;
    filter: alpha(opacity=40);
    opacity: .4;
    z-index: 1;
}

#part6 .big-img .previous:hover {
    filter: alpha(opacity=60);
    opacity: .6;
}

#part6 .big-img .next {
    right: 0;
    position: absolute;
    width: 40px;
    top: 46%;
    cursor: pointer;
    filter: alpha(opacity=40);
    opacity: .4;
    z-index: 1;
}

#part6 .big-img .next:hover {
    filter: alpha(opacity=60);
    opacity: .6;
}

#part6 .desc-txt {
    width: 680px;
    height: 200px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    color: #999;
    padding-left: 30px;
}

#part6 .yuqing_desc_1 {
    width: 330px;
}

#part6 .yuqing_desc_2 {
    width: 330px;
    position: absolute;
    right: 0;
    top: 0;
}

#part7 {
    width: 100%;
    position: relative;
    font-size: 0;
}

#part7 .desc {
    width: 960px;
    padding: 10px;
    margin: 0 auto;
    border-bottom: 1px solid #ddd;
}

#part7 .desc-title {
    height: 90px;
    width: 680px;
    position: relative;
    margin: 0 auto;
}

#part7 .desc-title .big-title {
    height: 50px;
    line-height: 50px;
    font-size: 32px;
    font-family: "微软雅黑";
    color: #333;
}

#part7 .desc-title .small-title {
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    font-family: "微软雅黑";
    color: #333;
}

#part7 .desc-title .small-title a{
    color: #333;
    text-decoration: underline;
}

#part7 .big-img {
    width: 680px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

#part7 ul {
    padding: 0;
    margin: 0;
    width: 9999px;
    position: relative;
}

#part7 ul:after {
    content: '';
    clear: both;
    display: block;
}

#part7 ul li {
    float: left;
}

#part7 .small-img {
    padding-top: 10px;
}

#part7 .small-img-btn {
    width: 560px;
    height: 50px;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
}

#part7 .small-img img {
    margin-left: 5px;
    filter: alpha(opacity=50);
    opacity: .5;
}

#part7 .small-img img:hover {
    filter: alpha(opacity=100);
    opacity: 1;
}

#part7 .small-img .check {
    filter: alpha(opacity=100);
    opacity: 1;
}

#part7 .big-img .previous {
    left: 0;
    position: absolute;
    width: 40px;
    top: 46%;
    cursor: pointer;
    filter: alpha(opacity=40);
    opacity: .4;
    z-index: 1;
}

#part7 .big-img .previous:hover {
    filter: alpha(opacity=60);
    opacity: .6;
}

#part7 .big-img .next {
    right: 0;
    position: absolute;
    width: 40px;
    top: 46%;
    cursor: pointer;
    filter: alpha(opacity=40);
    opacity: .4;
    z-index: 1;
}

#part7 .big-img .next:hover {
    filter: alpha(opacity=60);
    opacity: .6;
}

#part7 .desc-txt {
    width: 680px;
    height: 200px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    color: #999;
    padding-left: 30px;
}

#part7 .yuqing_desc_1 {
    width: 330px;
}

#part7 .yuqing_desc_2 {
    width: 330px;
    position: absolute;
    right: 0;
    top: 0;
}

#part8 {
    width: 100%;
    position: relative;
    font-size: 0;
}

#part8 .desc {
    width: 960px;
    padding: 10px;
    margin: 0 auto;
}

#part8 .desc-title {
    height: 90px;
    width: 680px;
    position: relative;
    margin: 0 auto;
}

#part8 .desc-title .big-title {
    height: 50px;
    line-height: 50px;
    font-size: 32px;
    font-family: "微软雅黑";
    color: #333;
}

#part8 .desc-title .small-title {
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    font-family: "微软雅黑";
    color: #333;
}

#part8 .desc-title .small-title a{
    color: #333;
    text-decoration: underline;
}

#part8 .big-img {
    width: 680px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

#part8 ul {
    padding: 0;
    margin: 0;
    width: 9999px;
    position: relative;
}

#part8 ul:after {
    content: '';
    clear: both;
    display: block;
}

#part8 ul li {
    float: left;
}

#part8 .small-img {
    padding-top: 10px;
}

#part8 .small-img-btn {
    width: 500px;
    height: 50px;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
}

#part8 .small-img img {
    margin-left: 5px;
    filter: alpha(opacity=50);
    opacity: .5;
}

#part8 .small-img img:hover {
    filter: alpha(opacity=100);
    opacity: 1;
}

#part8 .small-img .check {
    filter: alpha(opacity=100);
    opacity: 1;
}

#part8 .big-img .previous {
    left: 0;
    position: absolute;
    width: 40px;
    top: 46%;
    cursor: pointer;
    filter: alpha(opacity=40);
    opacity: .4;
    z-index: 1;
}

#part8 .big-img .previous:hover {
    filter: alpha(opacity=60);
    opacity: .6;
}

#part8 .big-img .next {
    right: 0;
    position: absolute;
    width: 40px;
    top: 46%;
    cursor: pointer;
    filter: alpha(opacity=40);
    opacity: .4;
    z-index: 1;
}

#part8 .big-img .next:hover {
    filter: alpha(opacity=60);
    opacity: .6;
}

#part8 .desc-txt {
    width: 680px;
    height: 200px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    color: #999;
    padding-left: 30px;
}

#part8 .yuqing_desc_1 {
    width: 330px;
}

#part8 .yuqing_desc_2 {
    width: 330px;
    position: absolute;
    right: 0;
    top: 0;
}

#part8 .bo {
    width: 960px;
    height: 100px;
    margin: 0 auto;
    border-bottom: 1px solid #333;
}

#part100 {
    position: relative;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    background: #fff;
    text-align: center;
}

#part100 .author{
    width: 420px;
    color: #999;
    margin: 0 auto;
    font-family: Helvetica;
}